.container {
  width: 620px;
  padding: 24px 40px;
  .nameContainer {
    display: flex;
  }
  .title {
    text-align: center;
    font-family: Noto Sans JP;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    /* identical to box height */

    text-align: center;

    color: #000000;
  }
  .buttonContainer {
    display: flex;
    justify-content: flex-end;
  }
}
