.sidebar {
  width: 180px;

  background: #ffffff;
  /* DropShadow::md */
  padding: 30px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
  border-radius: 16px;
  .sidebar_content_container {
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: space-between;
    .company {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 14px;
      text-decoration: none;
    }
    .recruitment {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      text-decoration: none;
    }
  }
}
