.container {
  margin-bottom: 1rem;
  .label {
    font-family: Noto Sans JP;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;

    /* DarkGray */

    color: #7d7d7d;
  }
}
